<!-- login errors (string) -->
{{#if error}}
  <div class="alert alert-danger">
    {{error}}
  </div>
{{/if}}

<!-- normal errors (array) -->
{{#each errors}}
  <div class="alert alert-danger">
    {{text}}
  </div>
{{/each}}
