<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container">
    <!-- Brand Name -->
    <a class="navbar-brand" href="/">Vidjot</a>
    <!-- Hamburger Menu -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Navbar Left -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <!-- Navbar Right -->
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink" href="#">
            Video Ideas
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/ideas">
              <i class="fa fa-lightbulb"></i> Ideas
            </a>
            <a class="dropdown-item" href="/ideas/add">
              <i class="fa fa-plus"></i>
              Add an Idea
            </a>
            <a class="dropdown-item" href="/users/logout">
              <i class="fa fa-sign-out-alt"></i>
              Logout
            </a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/users/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/register">Register</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
